<section data-aos="fade-down" id="about-and-gallery-container">
    <div id="about-block">
        <h1 class="primary">ABOUT US</h1>
        <P>Few Years ago we became fascinated with the idea of helping students, avid book readers and learners
            which led us to start the first of its kind online bookstore in India, that delivers books of diverse
            genres across the country at a reasonable price.<br><br>

            We rent and deliver books to children education based NGOs, schools, colleges and university libraries
            as well. Because the turning of a page starts the journey of a lifetime!</P>
    </div>

    <div id="gallery-block">
        <h1 class="primary">GALLERY</h1>
        <img src="image/aboutGallery/g2.jpg" alt="image2">
        <img src="image/aboutGallery/g1.jpg" alt="image1">
        <img src="image/aboutGallery/g3.jpg" alt="image3">
        <img src="image/aboutGallery/g4.jpg" alt="image1">
        <img src="image/aboutGallery/g5.jpg" alt="image2">
        <img src="image/aboutGallery/g6.jpg" alt="image3">
        <img src="image/aboutGallery/g7.jpg" alt="image3">
        <img src="image/aboutGallery/g8.jpg" alt="image3">
        <img src="image/aboutGallery/g9.jpg" alt="image2">
        <img src="image/aboutGallery/g10.jpg" alt="image3">
        <img src="image/aboutGallery/g11.jpg" alt="image3">
        <img src="image/aboutGallery/g12.jpg" alt="image3">

    </div>
</section>