<section data-aos="fade-up-right" class="book-container">
    <h3 class="primary">All Time Bestsellers On Our Website</h3>
    <div id="books">
        <div class="booknamebox">
            <img src="image/bestsellbook/b7.jpg" alt="book1">
            <p>Rs:120.00</p>
            <button class="crt">Buy now</button>
        </div>

        <div class="booknamebox">
            <img src="image/bestsellbook/b1.jpg" alt="book1">
            <p>Rs:345.00</p>
            <button class="crt">Buy now</button>
        </div>

        <div class="booknamebox">
            <img src="image/bestsellbook/b2.jpg" alt="book1">
            <p>Rs:210.35</p>
            <button class="crt">Buy now</button>
        </div>

        <div class="booknamebox">
            <img src="image/bestsellbook/b3.jpg" alt="book1">
            <p>Rs:588.90</p>
            <button class="crt">Buy now</button>
        </div>

        <div class="booknamebox">
            <img src="image/bestsellbook/b4.jpg" alt="book1">
            <p>Rs:899.00</p>
            <button class="crt">Buy now</button>
        </div>

        <div class="booknamebox">
            <img src="image/bestsellbook/b5.jpg" alt="book1">
            <p>Rs:320.78</p>
            <button class="crt">Buy now</button>
        </div>

        <div class="booknamebox">
            <img src="image/bestsellbook/b6.jpg" alt="book1">
            <p>Rs:432.00</p>
            <button class="crt">Buy now</button>
        </div>
    </div>
</section>