<div class="biography">
    <div id="kitabs1">
        <span id="nv">
            <img src="image/bookshelf/biography/bio1.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/biography/bio10.jpg" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/biography/bio11.jpg" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/biography/bio12.jpg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>

    </div>
    <div id="kitabs2">
        <span id="nv">
            <img src="image/bookshelf/biography/bio13.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/biography/bio14.jpg" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/biography/bio15.jpg" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/biography/bio16.jpg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>
    </div>
    <div id="kitabs3">
        <span id="nv">
            <img src="image/bookshelf/biography/bio2.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/biography/bio3.jpg" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/biography/bio4.jpg" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/biography/bio5.jpg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>
    </div>
    <div id="kitabs4">
        <span id="nv">
            <img src="image/bookshelf/biography/bio6.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/biography/bio7.jpg" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/biography/bio8.jpg" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/biography/bio9.jpg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>
    </div>