<div class="collegebooks">
    <div id="kitabs1">
        <span id="nv">
            <img src="image/bookshelf/collagebooks/col1.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/collagebooks/col10.png" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/collagebooks/col11.jpg" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/collagebooks/col12.jpg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>

    </div>

    <div id="kitabs2">
        <span id="nv">
            <img src="image/bookshelf/collagebooks/col2.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/collagebooks/col3.jpg" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/collagebooks/col4.png" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/collagebooks/col5.jpg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>
    </div>
    <div id="kitabs3">
        <span id="nv">
            <img src="image/bookshelf/collagebooks/col6.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/collagebooks/col7.jpg" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/collagebooks/col8.png" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/collagebooks/col9.jpg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>
    </div>
</div>