<header>
    <div class="overlay"></div>
    <nav>
        <h2 id="ebooksec">E-book section</h2>
        <ul>
            <li class="logo"><a href="/">
                    <ion-icon name="home-outline"></ion-icon>HOME
                </a></li>
            <li class="logo"><a href="/ebook">
                    <ion-icon name="arrow-undo-outline"></ion-icon>BACK
                </a></li>
            <li class=" logo cart">
                <a href="/ebook/ebookCart">
                    <ion-icon name="cart-outline"></ion-icon>cart<span>0</span>
                </a>
            </li>
        </ul>
    </nav>
</header>