<footer data-aos="fade-down">
    <div class="top">
        <div data-aos="fade-down" id="follow-us">
            <h2>FOLLOW US</h2>
            <div class="border"></div>
            <p>Please follow on our social media platfrom.</p>
            <div id="social-icon">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div data-aos="fade-down" id="link">
            <h2>USEFUL LINKS</h2>
            <div class="border"></div>
            <div id="link-item">
                <ul>
                    <li><a href="bookhome.html">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Return Policy</a></li>
                    <li><a href="#">Sell On Kitabwala</a></li>
                </ul>
            </div>
        </div>
        <div data-aos="fade-down" id="news">
            <h2>Our Newsletter</h2>
            <div class="border"></div>
            <p>Enter your Email to get our news and updates.</p>
            <div id="last">
                <input type="email" placeholder="Enter your Email">
                <button onclick="formSubmit()" id="btn-last">Submit</button>
            </div>
        </div>
    </div>

    <div id="end">
        <p>Copyright &copy; www.thekitabwala.com. All rights reserved</p>
    </div>
</footer>