<div class="novels">
    <div id="kitabs1">
        <span id="nv">
            <img src="image/bookshelf/novels/novels1.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/novels2.jpg" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/novels3.jpg" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/novels4.jpg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>

    </div>
    <div id="kitabs2">
        <span id="nv">
            <img src="image/bookshelf/novels/novels5.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/novels6.jpg" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/novels7.jpg" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/novels8.jpg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>
    </div>
    <div id="kitabs3">
        <span id="nv">
            <img src="image/bookshelf/novels/novels9.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/novels10.png" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/book1.jpg" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/book2.jpg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>
    </div>
    <div id="kitabs4">
        <span id="nv">
            <img src="image/bookshelf/novels/book3.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/book4.jpg" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/novels11.jpg" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/novels12.jpg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>
    </div>
    <div id="kitabs4">
        <span id="nv">
            <img src="image/bookshelf/novels/book3.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/book4.jpg" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/novels11.jpg" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/novels12.jpg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>
    </div>
    <div id="kitabs4">
        <span id="nv">
            <img src="image/bookshelf/novels/book3.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/book4.jpg" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/novels11.jpg" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/novels12.jpg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>
    </div>
    <div id="kitabs4">
        <span id="nv">
            <img src="image/bookshelf/novels/book3.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/book4.jpg" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/novels11.jpg" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/novels12.jpg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>
    </div>
    <div id="kitabs4">
        <span id="nv">
            <img src="image/bookshelf/novels/book3.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/book4.jpg" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/novels11.jpg" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/novels/novels12.jpg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>
    </div>