<div class="container">
    <div class="image">
        <img src="image/eimage/b1.jpg" alt="book1">
        <h3>Stem Activity</h3>
        <h3>RS. 32.00</h3>
        <p onclick="success()" class="add-cart cart1" href="#">Add to Cart</p>
    </div>
    <div class="image">
        <img src="image/eimage/b2.jpg" alt="book1">
        <h3>The Science Book</h3>
        <h3>RS. 45.00</h3>
        <p onclick="success()" class="add-cart cart1" href="#">Add to Cart</p>
    </div>
    <div class="image">
        <img src="image/eimage/b3.jpg" alt="book1">
        <h3>Material Science</h3>
        <h3>RS. 71.00</h3>
        <p onclick="success()" class="add-cart cart1" href="#">Add to Cart</p>
    </div>
    <div class="image">
        <img src="image/eimage/b4.jpg" alt="book1">
        <h3>Whats's Science</h3>
        <h3>RS. 31.00</h3>
        <p onclick="success()" class="add-cart cart1" href="#">Add to Cart</p>
    </div>
    <div class="image">
        <img src="image/eimage/b14.jpg" alt="book1">
        <h3>Galaxy Science</h3>
        <h3>RS. 70.00</h3>
        <p onclick="success()" class="add-cart cart1" href="#">Add to Cart</p>
    </div>
    <div class="image">
        <img src="image/eimage/b5.jpg" alt="book1">
        <h3>Computer Dictionary</h3>
        <h3>RS. 20.00</h3>
        <p onclick="success()" class="add-cart cart1" href="#">Add to Cart</p>
    </div>
    <div class="image">
        <img src="image/eimage/b6.jpg" alt="book1">
        <h3>Math Foundation</h3>
        <h3>RS. 37.00</h3>
        <p onclick="success()" class="add-cart cart1" href="#">Add to Cart</p>
    </div>
    <div class="image">
        <img src="image/eimage/b7.jpg" alt="book1">
        <h3>Multimedia Programm</h3>
        <h3>RS. 40.00</h3>
        <p onclick="success()" class="add-cart cart1" href="#">Add to Cart</p>
    </div>
    <div class="image">
        <img src="image/eimage/b8.jpg" alt="book1">
        <h3>Stephen Hawking</h3>
        <h3>RS. 50.00</h3>
        <p onclick="success()" class="add-cart cart1" href="#">Add to Cart</p>
    </div>
    <div class="image">
        <img src="image/eimage/b15.jpg" alt="book1">
        <h3>World of Science</h3>
        <h3>RS. 26.00</h3>
        <p onclick="success()" class="add-cart cart1" href="#">Add to Cart</p>
    </div>
    <div class="image">
        <img src="image/eimage/b9.jpg" alt="book1">
        <h3>Extreme Science</h3>
        <h3>RS. 23.00</h3>
        <p onclick="success()" class="add-cart cart1" href="#">Add to Cart</p>
    </div>
    <div class="image">
        <img src="image/eimage/b10.jpg" alt="book1">
        <h3>Oxford Science</h3>
        <h3>RS. 89.00</h3>
        <p onclick="success()" class="add-cart cart1" href="#">Add to Cart</p>
    </div>
    <div class="image">
        <img src="image/eimage/b11.jpg" alt="book1">
        <h3>Transcending Science</h3>
        <h3>RS. 62.00</h3>
        <p onclick="success()" class="add-cart cart1" href="#">Add to Cart</p>
    </div>
    <div class="image">
        <img src="image/eimage/b12.jpg" alt="book1">
        <h3>Science Fiction</h3>
        <h3>RS. 35.00</h3>
        <p onclick="success()" class="add-cart cart1" href="">Add to Cart</p>
    </div>
</div>