<section data-aos="fade-down" id="publiser-container">
    <h1 class="primary">OUR PUBLISHERS</h1>
    <div id="publisers">
        <div class="pubname">
            <img src="image/publisher/p1.png">
        </div>
        <div class="pubname">
            <img src="image/publisher/p2.png">
        </div>
        <div class="pubname">
            <img src="image/publisher/p3.png">
        </div>
        <div class="pubname">
            <img src="image/publisher/p4.png">
        </div>
        <div class="pubname">
            <img src="image/publisher/p7.png">
        </div>
        <div class="pubname">
            <img src="image/publisher/p6.png">
        </div>
        <div class="pubname">
            <img src="image/publisher/p5.png">
        </div>
    </div>
</section>