<div class="schoolbooks">
    <div id="kitabs1">
        <span id="nv">
            <img src="image/bookshelf/schoolbooks/sch1.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/schoolbooks/sch10.jpg" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/schoolbooks/sch11.jpg" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/schoolbooks/sch12.jpg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>

    </div>
    <div id="kitabs2">
        <span id="nv">
            <img src="image/bookshelf/schoolbooks/sch2.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/schoolbooks/sch3.jpg" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/schoolbooks/sch4.jpg" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/schoolbooks/sch5.jpg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>
    </div>
    <div id="kitabs3">
        <span id="nv">
            <img src="image/bookshelf/schoolbooks/sch6.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/schoolbooks/sch7.jpg" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/schoolbooks/sch8.jpg" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/schoolbooks/sch9.jpg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>
    </div>
</div>