<section data-aos="fade-up" class="service-container">
    <h3 class="primary">Helping Readers And Learners Throughout The Country</h3>
    <div id="service">
        <div data-aos="zoom-out" class="box">
            <img src="image/shipping.png" alt="logo">
            <h2 class="secondary">FREE SHIPPING</h2>
            <p>The Kitabwala offers free shipping all over the country, which makes it possible for you to buy books
                from us even if our warehouse is far from your shipping address. Shipping process is fast and secure
            </p>
        </div>
        <div data-aos="zoom-in" class="box">
            <img src="image/ret.png" alt="logo">
            <h2 class="secondary">RETURN/EXCHANGE</h2>
            <p>You can always return a book after you’ve read it. Just use a unique link that can be found inside
                our every textbook. Then fill out a special form and send the book to one of our offices.</p>
        </div>
        <div data-aos="zoom-out" class="box">
            <img src="image/note.png" alt="logo">
            <h2 class="secondary">TAKE NOTES</h2>
            <p>We even rent books for academic curriculum that has a special section where you can take notes.
                However, we ask all our customers to limit your writing and highlighting to a minimal amount.</p>
        </div>
        <div data-aos="zoom-in" class="box">
            <img src="image/satis.png" alt="logo">
            <h2 class="secondary">SATISFACTION GUARANTEED</h2>
            <p>We hope that you will like our services. Our team makes every effort to offer you an easy
                and enjoyable experience of buying and renting a textbook at any time of the year</p>
        </div>
    </div>
</section>