<div class="sidenav">
    <ul class=cats id="categos">
        <i>Categories:</i>
        <ul>
            <li class="genre" id="novels"><a href="/novelsBookshelf">Novels</a></li>
            <li class="genre" id="thriller"><a href="/thillerBookshelf">Thrillers</a></li>
            <li class="genre" id="advent"><a href="/adventureBookshelf">Adventure</a></li>
            <li class="genre" id="bio"><a href="/biographyBookshelf">Biography</a></li>
            <li class="genre" id="schobook"><a href="/schoolBookshelf">School Books</a></li>
            <li class="genre" id="colbook"><a href="/collageBookshelf">College Books</a></li>
            <li class="genre" id="best"><a href="/bookshelfhome">Best Sellers</a></li>
        </ul><br>
        <i>Competitive Exam Books:</i>
        <ul>
            <li class="genre" id="JEE"> <a href="#">JEE</a></li>
            <li class="genre" id="UPSC"><a href="#">UPSC</a></li>
            <li class="genre" id="SSC"><a href="#">SSC</a></li>
            <li class="genre" id="State"><a href="#">State PCS</a></li>
            <li class="genre" id="neet"><a href="#">NEET</a></li>
        </ul><br>
    </ul>
</div>