<div class="thriller">
    <div id="kitabs1">
        <span id="nv">
            <img src="image/bookshelf/thrillers/t1.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/thrillers/t2.jpg" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/thrillers/t3.jpg" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/thrillers/t4.jpg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>

    </div>
    <div id="kitabs2">
        <span id="nv">
            <img src="image/bookshelf/thrillers/t5.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/thrillers/t6.jpg" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/thrillers/t7.jpg" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/thrillers/t8.jpg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>
    </div>
    <div id="kitabs3">
        <span id="nv">
            <img src="image/bookshelf/thrillers/t9.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/thrillers/t10.jpg" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/thrillers/t11.jpg" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/thrillers/t12.jpg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>
    </div>
    <div id="kitabs4">
        <span id="nv">
            <img src="image/bookshelf/thrillers/thr1.jpg" width="120px">
            <p>Rs:450.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/thrillers/thr2.jpg" width="120px">
            <p>Rs:560.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/thrillers/thr3.jpeg" width="120px">
            <p>Rs:270.00</p>
            <button class="crt">Add to cart</button>
        </span>
        <span id="nv">
            <img src="image/bookshelf/thrillers/thr4.jpeg" width="120px">
            <p>Rs:380.00</p>
            <button class="crt">Add to cart</button>
        </span>
    </div>