<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Bookshelf | The Kitabwala </title>
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/44272ad86b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/bookshelf.css">
</head>

<body>
    {{>navber}}

    {{>sidenavBookshelf}}

    <section class="novkitab">
        <h3 class="novelofm">Top 5 Selling Novels of the Month</h3>
        <div id="novwala">
            <div class="novbooks">
                <img src="image/bookshelf/novels/book1.jpg" width="145px">
                <p>Rs:339.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="novbooks">
                <img src="image/bookshelf/novels/book2.jpg" width="145px">
                <p>Rs:280.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="novbooks">
                <img src="image/bookshelf/novels/book3.jpg" width="145px">
                <p>Rs:169.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="novbooks">
                <img src="image/bookshelf/novels/book4.jpg" width="145px">
                <p>Rs:560.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="novbooks">
                <img src="image/bookshelf/novels/book5.jfif" width="145px">
                <p>Rs:560.00</p>
                <button class="crt">Add to cart</button>
            </div>
        </div>
    </section>
    <section class="thrb">
        <h3 class="novelofm">Top 5 Selling Thrillers of the Month</h3>
        <div id="thrwala">
            <div class="thrbooks">
                <img src="image/bookshelf/thrillers/thr1.jpg" width="145px">
                <p>Rs:1200.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="thrbooks">
                <img src="image/bookshelf/thrillers/thr2.jpg" width="145px">
                <p>Rs:1600.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="thrbooks">
                <img src="image/bookshelf/thrillers/thr3.jpeg" width="145px">
                <p>Rs:220.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="thrbooks">
                <img src="image/bookshelf/thrillers/thr4.jpeg" width="145px">
                <p>Rs:160.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="thrbooks">
                <img src="image/bookshelf/thrillers/thr5.jfif" width="145px">
                <p>Rs:160.00</p>
                <button class="crt">Add to cart</button>
            </div>
        </div>
    </section>

    <section class="adventb">
        <h3 class="novelofm">Top 5 Selling Adventure books of the Month</h3>
        <div id="advwala">
            <div class="advbooks">
                <img src="image/bookshelf/adventure/advn1.jfif" width="145px">
                <p>Rs:550.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="advbooks">
                <img src="image/bookshelf/adventure/advn2.jfif" width="145px">
                <p>Rs:800.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="advbooks">
                <img src="image/bookshelf/adventure/advn3.jfif" width="145px">
                <p>Rs:1620.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="advbooks">
                <img src="image/bookshelf/adventure/advn4.jfif" width="145px">
                <p>Rs:710.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="advbooks">
                <img src="image/bookshelf/adventure/advn5.jfif" width="145px">
                <p>Rs:710.00</p>
                <button class="crt">Add to cart</button>
            </div>
        </div>
    </section>

    <section class="biob">
        <h3 class="novelofm">Top 5 Selling Biographies of the Month</h3>
        <div id="biowala">
            <div class="biobooks">
                <img src="image/bookshelf/biography/bio1.jpg" width="155px">
                <p>Rs:850.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="biobooks">
                <img src="image/bookshelf/biography/bio2.jpg" width="145px">
                <p>Rs:540.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="biobooks">
                <img src="image/bookshelf/biography/bio3.jpg" width="145px">
                <p>Rs:620.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="biobooks">
                <img src="image/bookshelf/biography/bio4.jpg" width="145px">
                <p>Rs:250.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="biobooks">
                <img src="image/bookshelf/biography/bio5.jfif" width="145px">
                <p>Rs:250.00</p>
                <button class="crt">Add to cart</button>
            </div>
        </div>
    </section>
    <section class="colsch">
        <h3 class="novelofm">In demand academic books</h3>
        <div id="cosowala">
            <div class="coschbooks">
                <img src="image/bookshelf/academic/cosch1.jpg" width="145px">
                <p>Rs:700.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="coschbooks">
                <img src="image/bookshelf/academic/cosch2.jpg" width="145px">
                <p>Rs:550.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="coschbooks">
                <img src="image/bookshelf/academic/cosch3.jpg" width="145px">
                <p>Rs:350.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="coschbooks">
                <img src="image/bookshelf/academic/cosch4.jpg" width="145px">
                <p>Rs:600.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="coschbooks">
                <img src="image/bookshelf/academic/cosch5.jpg" width="145px">
                <p>Rs:150.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="coschbooks">
                <img src="image/bookshelf/academic/cosch6.jpg" width="145px">
                <p>Rs:80.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="coschbooks">
                <img src="image/bookshelf/academic/cosch7.jpg" width="145px">
                <p>Rs:130.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="coschbooks">
                <img src="image/bookshelf/academic/cosch8.jpg" width="145px">
                <p>Rs:100.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="coschbooks">
                <img src="image/bookshelf/academic/cosch9.jfif" width="145px">
                <p>Rs:100.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="coschbooks">
                <img src="image/bookshelf/academic/cosch10.jfif" width="145px">
                <p>Rs:100.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="coschbooks">
                <img src="image/bookshelf/academic/cosch11.jfif" width="145px">
                <p>Rs:100.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="coschbooks">
                <img src="image/bookshelf/academic/cosch12.jfif" width="145px">
                <p>Rs:100.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="coschbooks">
                <img src="image/bookshelf/academic/cosch13.jfif" width="145px">
                <p>Rs:100.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="coschbooks">
                <img src="image/bookshelf/academic/cosch14.jfif" width="145px">
                <p>Rs:100.00</p>
                <button class="crt">Add to cart</button>
            </div>
            <div class="coschbooks">
                <img src="image/bookshelf/academic/cosch15.jfif" width="145px">
                <p>Rs:100.00</p>
                <button class="crt">Add to cart</button>
            </div>
        </div>
    </section>
</body>

</html>